/*
Food Bliss
Author: Lee Kang Wenn, Yang Poh Yee, Chan Peck Hui
Date: 23/03/2017
Filename: chicken.css
*/

.recipe {
    margin: auto;
    max-width: 960px;
}

.recipe div img {
    width: 100%;
}

.bigtitle {
    text-align: left;
}

.title {
    text-align: left;
    font-size: 30px;
    color: skyblue;
    text-shadow: 1px 1px black;
}

.recipelink {
    text-decoration: none;
    color: orangered;
    font-weight: bold;
}

#credit {
    font-size: 15px;
}

.recipe p {
    line-height: 30px;
}

.recipe ul {
    line-height: 30px;
}

.recipePic {
    height: 600px;
}

.cooktime {
    text-align: center;
}

.cooktime p {
    display: inline-block;
    width: 150px;
    text-align: center;
}

.recipe ol {
    line-height: 30px;
}

@media only screen and (max-width: 1000px) {
    .recipe div img {
        width: 100%;
        height: 550px;
    }
}

@media only screen and (max-width: 750px) {
    .recipe h1 {
        font-size: 25px;
    }
    .recipe div img {
        width: 100%;
        height: 450px;
    }
    #credit {
        font-size: 10px;
    }
}

#profile {
    display: flex;
    align-items: center;
}

#profile img {
    width: 60px;
}

.commentbox label {
    display: flex;
    margin-bottom: 5px;
}

.comment .user {
    width: 130px;
    margin-right: 10px;
    word-wrap: break-word;
    line-height: 30px;
    border-right: 1px solid black;
    text-align: center;
    display: flex;
    align-items: center;
}

.comment .com {
    width: 500px;
    line-height: 30px;
}

.comment {
    display: flex;
    margin-bottom: 20px;
    border: 1px solid black;
}

.bookmark {
    color: black;
    text-decoration: none;
    display: flex;
    align-items: center;
    width: 200px;
}

.bookmark:hover {
    color: red;
}

#rating {
    display: flex;
    align-items: center;
}
