/*
Food Bliss
Author: Lee Kang Wenn, Yang Poh Yee, Chan Peck Hui
Date: 23/03/2017
Filename: recipe.css
*/


/*THE LATEST*/

#latest {
    background-color: white;
}

h1 {
    text-align: center;
}

.grid div {
    display: inline-block;
    margin-left: 1%;
    width: 320px;
    padding: 0px;
    background-color: white;
    margin-bottom: 15px;
}

.square img {
    width: 320px;
}

.square a {
    text-decoration: none;
    color: black;
}

.stext {
    word-wrap: break-word;
    padding-left: 10px;
}

.catmenu a {
    display: inline-block;
    height: 100px;
    margin-left: 5%;
    text-decoration: none;
    text-shadow: 1px 1px black;
    color: white;
    text-align: center;
}

.catmenu img {
    width: 100px;
}
