/*
Food Bliss
Author: Lee Kang Wenn, Yang Poh Yee, Chan Peck Hui
Date: 23/03/2017
Filename: homepage.css
*/


/* Slideshow container */

.slideshow-container {
    margin: 3em 2%;
}

.mySlides {
    display: block;
    width: 100%;
    height: auto;
}

.mySlides img {
    width: 100%;
    height: 600px;
    object-fit: cover;
}

.overlay {
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    align-items: center;
    display: flex;
}

.slideshow-container:hover .overlay {
    opacity: 1;
}

.overlay .text {
    font-size: 40px;
    width: 100%;
    text-align: center;
    margin-top: -40%;
    margin-left: 20%;
    margin-right: 20%;
}

.overlay .text a {
    text-decoration: none;
    color: white;
    text-shadow: 2px 2px 4px #000000;
    vertical-align: middle;
}


/* On smaller screens, decrease text size, width,margin on .square and video */

@media only screen and (max-width: 1758px) {
    /*Slideshow*/
    .overlay .text {
        margin-top: -50%;
        font-size: 35px;
    }
}

@media only screen and (max-width: 1000px) {
    /*    Slideshow*/
    .mySlides img {
        height: 500px;
    }
    .overlay .text {
        margin-top: -70%;
        font-size: 30px;
    }
}

@media only screen and (max-width: 750px) {
    .mySlides img {
        height: 300px;
    }
    .overlay .text {
        margin-top: -80%;
        font-size: 20px;
    }
}
