/*
Food Bliss
Author: Lee Kang Wenn, Yang Poh Yee, Chan Peck Hui
Date: 23/03/2017
Filename: main.css
*/

body {
    font-family: 'Lato';
    background-color: rgb(242, 242, 242);
}


/*
HEADING
*/

#heading {
    clear: both;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
}

.topnav {
    overflow: hidden;
    background-color: #333;
}

.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-weight: bold;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav .icon {
    display: none;
}

.searchbar {
    width: 130px;
    box-sizing: border-box;
    border: 0px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    color: white;
    background-color: #333;
    background-image: url("search.png");
    background-size: 40px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}


/* When the input field gets focus, change its width to 100% */

.searchbar:focus {
    width: 30%;
}


/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */

@media screen and (max-width: 950px) {
    .topnav a:not(:first-child) {
        display: none;
    }
    .topnav input:not(:first-child) {
        display: none;
    }
    .topnav a.icon {
        float: right;
        display: block;
    }
}


/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */

@media screen and (max-width: 950px) {
    .topnav.responsive {
        position: relative;
    }
    .topnav.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
    .topnav.responsive input {
        float: none;
        display: block;
        text-align: left;
    }
}


/*
BODY
*/

#pageContent {
    padding-top: 50px;
}


/*
FOOTER
*/

#footer p a img {
    width: 15%;
}

#footer p {
    text-align: center;
}


/* Style all font awesome icons */

.fa {
    padding: 10px;
    font-size: 15px;
    width: 15px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}


/* Add a hover effect if you want */

.fa:hover {
    opacity: 0.7;
}


/* Set a specific color for each brand */

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-instagram {
    background: #125688;
    color: white;
}

.fa-rss {
    background: #ff6600;
    color: white;
}

.fa-youtube {
    background: #bb0000;
    color: white;
}

.catmenu {
    max-width: 960px;
    text-align: center;
}

.catmenu a {
    display: inline-block;
    margin-left: 3%;
    text-decoration: none;
    color: black;
    text-align: center;
    width: 100px;
}

.catmenu span {
    word-wrap: break-word;
}

.catmenu a:hover {
    color: red;
}

.catmenu img {
    width: 80px;
    padding-bottom: 10px;
}


/*Grid Css*/

h1 {
    text-align: center;
}

.grid {
    width: 1400px;
    margin: auto;
}

.grid .square {
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
    width: 320px;
    background-color: white;
    margin-bottom: 15px;
}

.square img {
    width: 320px;
}

.square a {
    text-decoration: none;
    color: black;
}

.square a:hover {
    color: red;
}

.square .stext {
    word-wrap: break-word;
    padding-left: 10px;
}


/*MORE TECHNIQUE BOX*/

.morebox {
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 150px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    border: 2px solid orangered;
}

.morebox a {
    text-decoration: none;
    color: orangered;
    font-weight: bold;
}


/*Grid Video Css*/

.gridVideo {
    width: 1758px;
    margin: auto;
}

.gridVideo .frameVideo {
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 30px;
}

.frameVideo iframe {
    width: 854px;
    height: 480px;
}


/* On smaller screens, decrease text size, width,margin on .square and video */

@media only screen and (max-width: 1758px) {
    .grid {
        width: 999px;
    }
    /*    Video*/
    .gridVideo {
        width: 854px;
    }
    .gridVideo .frameVideo {
        margin-left: 0px;
        margin-right: 0px;
    }
}

@media only screen and (max-width: 1000px) {
    /*   Grid*/
    .grid {
        width: 665px;
    }
    /*    Video*/
    .gridVideo {
        width: 670px;
    }
    .gridVideo .frameVideo {
        margin-left: 25px;
        margin-right: 25px;
        max-width: 670px;
    }
    .frameVideo iframe {
        width: 620px;
        height: 465px;
    }
}

@media only screen and (max-width: 750px) {
    .grid {
        width: 330px;
    }
    .gridVideo {
        width: 340px;
    }
    .gridVideo .frameVideo {
        margin-left: 10px;
        margin-right: 10px;
        max-width: 340px;
    }
    .frameVideo iframe {
        width: 320px;
        height: 240px;
    }
    .catmenu img {
        width: 50px;
        padding-bottom: 10px;
    }
}
